.section {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  opacity: 1;
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}
