@font-face {
  font-family: 'Satoshi-Black';
  src: url('/assets/fonts/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'PlusJakartaSans-Regular';
  src: url('/assets/fonts/PlusJakartaSans-Regular.otf') format('opentype');
  font-weight: 900;
}

.section {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  opacity: 0;
  transition: opacity 2s ease;
  pointer-events: none;
}

.section--visible {
  opacity: 1;
  pointer-events: auto;
}

.fade-out {
  opacity: 0 !important;
  pointer-events: none !important;
}

/* HERO STYLES */

.hero {
  text-align: center;
}

.hero__title {
  font-family: 'Satoshi-Black';
  font-size: 8rem;
  margin: 0;
  color: black;
}

.hero__subtitle {
  font-family: 'PlusJakartaSans-Regular';
  font-size: 3rem;
  margin: 0;
  padding-bottom: 2rem;
}

.hero__cta-btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background: #00bcd4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero__cta-btn:hover {
  background: #008ba3;
}
